*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url(/Nabil-Login-Screen/images/cosmos2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header{
    font-size: 7pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

.links a{
    text-align: center;
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 600;
    text-transform: capitalize;
}

.links a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: antiquewhite;
    height: 1px;
    width: 0%;
    transition: transform 0.5s;
    transform: scaleX(1);
}

.links a:hover:after{
    width: 100%;
    transform: scaleX(1);
}

.buttonlogin{
    margin: 10px;
    background: none;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 10pt;
    font-weight: 900;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    transition: 1s;
}

.buttonlogin:hover{
    background-color: antiquewhite;
    color: #FF3D3D94;
    border: 1px solid #FF3D3D94;
}

header .logo{
    font-size: 17pt;
    margin-left: 10px;
    color: antiquewhite;
    font-weight: 900;
    text-align: center;
}

.box{
    border: none;
    outline: none;
    border-radius: 11px;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 5px #FF3D3D94;
    width: 300px;
    height: 250px;
}

.box .logo{
    font-size: 17pt;
    margin-left: 10px;
    color: antiquewhite;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.palcEmail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}